.prvni {
	text-align: center;
	font-size: 80px;
	background-image: 
	
}

.druhy {
	font: Verdana;
	font-size: 45px;
	border-style: double;
	border-width: 2px;
}

.hlavni {
		text-align: center;
		text-transform: uppercase;
}


.texthlavni {
	text-align: center;
}


.hlmesto {
		text-align: center;
		font-family: Times New Roman;
}

